In [1]:
pip install pandas

Requirement already satisfied: pandas in ./miniconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in ./miniconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in ./miniconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./miniconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in ./miniconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in ./miniconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

c1 = pd.read_csv('SRR3414635.counts', sep="\t",  names=['geneID', 'c1']).astype(str)
c2 = pd.read_csv('SRR3414636.counts', sep="\t",  names=['geneID', 'c2']).astype(str)
c3 = pd.read_csv('SRR3414637.counts', sep="\t",  names=['geneID', 'c3']).astype(str)
r1 = pd.read_csv('SRR3414629.counts', sep="\t",  names=['geneID', 'r1']).astype(str)
r2 = pd.read_csv('SRR3414630.counts', sep="\t",  names=['geneID', 'r2']).astype(str)
r3 = pd.read_csv('SRR3414631.counts', sep="\t",  names=['geneID', 'r3']).astype(str)

c1 = c1.merge(c2, how='left', on='geneID')
c1 = c1.merge(c3, how='left', on='geneID')
c1 = c1.merge(r1, how='left', on='geneID')
c1 = c1.merge(r2, how='left', on='geneID')
c1 = c1.merge(r3, how='left', on='geneID')

ALL_cnts = c1[:-5]
ALL_cnts

                      geneID     c1     c2     c3     r1     r2     r3
0       ENSMUSG00000000001.4   3466   3532   4078   4507   3964   5757
1      ENSMUSG00000000003.15      0      0      0      0      0      0
2      ENSMUSG00000000028.15    152    137    152    348    275    472
3      ENSMUSG00000000031.16  55721  48392  56187  64722  33333  65188
4      ENSMUSG00000000037.17     43     44     53     79     70     92
...                      ...    ...    ...    ...    ...    ...    ...
55396   ENSMUSG00000118655.1      0      0      0      0      1      1
55397   ENSMUSG00000118656.1      0      0      0      0      0      0
55398   ENSMUSG00000118657.1      0      1      0      2      0      4
55399   ENSMUSG00000118658.1      0      0      0      0      0      0
55400   ENSMUSG00000118659.1      0      0      0      0      0      0

[55401 rows x 7 columns]

In [4]:
ALL_cnts.to_csv('ALL.counts', sep='\t', index=False)

In [5]:
data2 = zip(['c1', 'c2', 'c3', 'r1', 'r2', 'r3'],['SRR3414635', 'SRR3414636', 'SRR3414637', 'SRR3414629', 'SRR3414630', 'SRR3414631'],['control', 'control', 'control', 'reprogramming', 'reprogramming', 'reprogramming'])

In [6]:
import pandas as pd

df2 = pd.DataFrame(data2, columns=['sample','id', 'condition'])
df2

  sample          id      condition
0     c1  SRR3414635        control
1     c2  SRR3414636        control
2     c3  SRR3414637        control
3     r1  SRR3414629  reprogramming
4     r2  SRR3414630  reprogramming
5     r3  SRR3414631  reprogramming

In [7]:
df2.to_csv('ALL.info', sep='\t', index=False)